usp-list {
  display: flex;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding-left: 2rem;
}

span#upper {
  font-size: 1.2rem;
}

span.inner-span {
  font-size: 0.8rem;
}

form {
  /* display: flex; */
  /* flex-direction: row; */
  width: 20rem;
  gap: .5rem;
  border: 1px solid green;
  padding: 0.5rem;
  margin: 1rem 0;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btns button {
  padding-left: 1rem;
  padding-right: 1rem;
}

button[type="submit"] {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: darkgreen;
}

input {
  text-align: center;
}

ul {
  list-style: none;
}

ul li {
  margin: 1rem 0;
  padding: 0.2rem 0.3rem;
}

ul li:nth-child(2) {
  color: yellow;
}

ul li:first-child {
  color: red;
}

ul li:last-child {
  color: blue;
}
